<div class='calculator'>
  {{input type='text' name='firstNumber' value=number1}}
  {{input type='text' name='firstNumber' value=number2}}
  <button type='button' {{action 'calculate'}}>Calculate</button>
</div>

<div class={{loginResponseClass}}>
  <p>Result: {{result}}</p>
</div>

{{outlet}}
